/*
Styles for HTML5 File Drag & Drop demonstration
Featured on SitePoint.com
Developed by Craig Buckler (@craigbuckler) of OptimalWorks.net
*/

html {
}

body {
        font-family:Arial,Helvetica,sans-serif !important;
	/*
 	background: -webkit-gradient(linear, left top, left bottom, from(#6E4E2B), to(#ffffff));
        background: -moz-gradient(linear, left top, left bottom, from(#6E4E2B), to(#ffffff));
	*/
	background: silver;
}

div#upload {
	vertical-align: top;
}


div.box2 {
        border-radius:10px;
        box-shadow: 5px 5px 5px #888;
        -moz-box-shadow: 5px 5px 5px #888;
        -webkit-box-shadow: 5px 5px 5px #888;
        margin-right:20px;
        margin-left:20px;
        background-color:white;
        min-height:700px;
}

div.main_page {
        clear:both;
        min-height:800px;
        margin-left:26px;
}

div#footer {
        text-align:center;
}

h1, h2
{
	font-size: 1.5em;
	font-weight: normal;
	padding-left:20px;
	padding-top:20px;
}

h2
{
	font-size: 1.3em;
}

legend
{
	font-weight: bold;
	color: #333;
}

#filedrag
{
	font-weight: bold;
	text-align: center;
	padding: 1em 0;
	margin: 1em 0;
	color: #555;
	border: 2px dashed #555;
	border-radius: 7px;
	cursor: default;
}

#filedrag.hover
{
	color: #f00;
	border-color: #f00;
	border-style: solid;
	box-shadow: inset 0 3px 4px #888;
}

img
{
	max-width: 100%;
}

pre
{
	width: 95%;
	height: 8em;
	font-family: monospace;
	font-size: 0.9em;
	padding: 1px 2px;
	margin: 0 0 1em auto;
	border: 1px inset #666;
	background-color: #eee;
	overflow: auto;
}

#messages
{
	padding: 0 10px;
	margin: 1em 0;
	border: 1px solid #999;
}

#progress p
{
	display: block;
	width: 240px;
	padding: 2px 5px;
	margin: 2px 0;
	border: 1px inset #446;
	border-radius: 5px;
	background: #eee url("progress.png") 100% 0 repeat-y;
}

#progress p.success
{
	background: #0c0 none 0 0 no-repeat;
}

#progress p.failed
{
	background: #c00 none 0 0 no-repeat;
}

div.title_2 
{ 
        font-style: bold;
        font-size: 1.0em;
	margin: 2px 2px .6em auto;
}

div.value_2
{
        font-size: 1.0em;
}

td#exp_info
{
	width="25%";
	vertical-align: top;

}

span.handle_id{
	font-size: 0.8em;
}

#cytoscapeweb { width: 1000px; height: 800px; min-height: 600px;}
#cytoscapeweb_topo { width: 1000px; height: 800px; min-height: 600px;}
